<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    {% block corecss %}
        <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% endblock corecss %}
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-3">
                {% include 'core/sidebar.html' %}
            </div>
            <div class="col-sm-9">
               {% block content %}
               
               {% endblock content %} 
            </div>
        </div>

    </div>
   <script src="{% static 'core/js/jquery.js' %}"></script>
   <script src="{% static 'core/js/popper.js' %}"></script>
   <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>
</html>