{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa fa-search-dollar fa-2x mb-3 i-colo" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="ss-color">I specialize in delivering comprehensive Search Engine Optimization (SEO) 
                services designed to enhance the visibility and ranking of websites in search engine results</p>
                <p class="ss-color">My SEO expertise includes:</p>
                <u class="ss-color"l>
                    <li>Keyword Research and Strategy</li>
                    <li>On-Page Optimization</li>
                    <li>Technical SEO</li>
                    <li>Content Optimization</li>
                    <li>Link Building</li>  
                    <li>Analytics and Reporting</li>       
                </u>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-3 i-colo" aria-hidden="true"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Web design is the process of creating and organizing the visual and functional aspects of a website. 
                It involves several elements to ensure that a site is aesthetically pleasing, user-friendly, and effective in achieving its goals.</p>
                <p class="ss-color">My web design services include:</p>
                <u class="ss-color"l>
                    <li>UI/UX Design</li>
                    <li>Responsive Design</li>
                    <li>Visual Design</li>
                    <li>Design Implementation</li>
                    <li>Branding and Identity</li>  
                    <li>Accessibility and Usability</li>       
                </u>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-colo" aria-hidden="true"></i>
            <h3>Web Developer</h3>
            <p class="ss-color">Docker containers have revolutionized the way software is developed, tested, and deployed.</p>
            <p class="ss-color">My web design services include:</p>
                <u class="ss-color"l>
                    <li>UI/UX Design</li>
                    <li>Responsive Design</li>
                    <li>Visual Design</li>
                    <li>Design Implementation</li>
                    <li>Branding and Identity</li>  
                    <li>Accessibility and Usability</li>       
                </u>
        </div>
    </div>
     <div class="row text-center text-white mb-5">
        {% comment %} <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-colo" aria-hidden="true"></i>
            <h3>Android</h3>
            <p class="ss-color">As a dedicated Web Developer, I offer a comprehensive range of services designed to build robust, efficient, 
                and user-friendly web solutions.</p>
            <p>My expertise includes</p>
            <u class="ss-color"l>
                <li>Front-End Development</li>
                <li>Back-End Development</li>
                <li>Full-Stack Development</li>
                <li>Custom Web Solutions</li>
                <li>Performance Optimization</li>  
                <li>Maintenance and Support</li>       
            </u>

        </div>  {% endcomment %}
        
        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-colo" aria-hidden="true"></i>
            <h3>Advertisement</h3>
            <p class="ss-color">I provide specialized advertising services designed to enhance brand visibility and drive targeted engagement.</p>
            <p>My advertising services include:</p>
            <u class="ss-color"l>
                <li>Digital Advertising</li>
                <li>SEO and SEM</li>
                <li>Content Creation</li>
                <li>Market Research and Analysis</li>
                <li>Campaign Management</li>  
                <li>Performance Tracking and Reporting</li>       
            </u>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-cloud fa-2x mb-3 i-colo" aria-hidden="true"></i>
            <h3>AWS Cloud</h3>
            <p class="ss-color">Configured and maintained AWS EC2 instances, S3 buckets, and RDS databases to ensure high performance and reliability of
                 cloud-based applications.Implemented monitoring and scaling strategies to optimize resource utilization and reduce operational costs by 30%.</p>
            {% comment %} <p>My advertising services include:</p>
            <u class="ss-color"l>
                <li>Digital Advertising</li>
                <li>SEO and SEM</li>
                <li>Content Creation</li>
                <li>Market Research and Analysis</li>
                <li>Campaign Management</li>  
                <li>Performance Tracking and Reporting</li>       
            </u> {% endcomment %}
        </div>
    </div>
    
</div>
{% endblock content %}